
/*fixed image style note this was changed to large image */


/*
.fixed-image {
    background-image: url(../Images/woman.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    color: rgb(65, 154, 28);
    text-align: center;
}
*/

/* new styling */

#home {    
    color: white;    
    display: flex;    
    justify-content: center;    
    align-items: center;    
    flex-direction: column;    
    min-height: 130vh;    
    background: url(../Images/woman.jpg) no-repeat center center; 
}

#brand-image {    
    height: 120px;    
    width: auto; 
} 


.nav-bar-hover {    
    top: 0;    
    left: 0;    
    width: 100%;    
    background: rgba(255,255,255, 0.2);  
    position: absolute; 
} 

.btn-lg {
    background-color: rgb(65, 154, 28);
}

.fixed-image2 {
    background-image: url(../Images/dumbbell-1966702_640.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: whitesmoke;
    padding-top: 2em;
    
}

/* services cards styling */

.service {
    text-align: right;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    
  }
  
  .centered {
    position: absolute;
    bottom: 0;
    background: rgb (0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px; 
        
} 

  /* position the front and back */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* horizontal flip on hover */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position of the cards */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side if image is missing */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
/* flip card background */

.flip-card-back {
    background-color: rgb(65, 154, 28);
}

#contact {
    background-image: url(../Images/email-1435687_640.png);
    
}



.footer {
    background-color: rgb(69, 67, 68);
    color: white;
    height: 150px;
}

#footer-image {    
    height: 120px;    
    width: auto; 
} 
.fab {
    color: #ffffff; 
    font-size: 40px;
    margin: 10px; 
}