html {
    scroll-behavior: smooth;
}

#home {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 130vh;
    height: auto;
    width: 100%;
    background: url(../Images/woman.jpg) no-repeat center center;
    background-size: 100% 100%;

}


.btn {
    text-align: center;
    background-color: #32cd32;
}

/* adjust the logo size */
#brand-image {
    height: 120px;
    width: auto;
}

/* navbar styling */
.nav-bar-hover {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
}

/* navbar sticky removed as navbar is transparent and does not look good as sticky 
.navbar - to be looked at for future projects {
    position: fixed;
    top: 0;
    width: 100%;
    }
*/

.btn-lg {
    background-color: #32cd32;
}

/*parallax affect image styling */
#fixed-image {
    background-image: url(../Images/dumbbell-1966702_640.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* about section style */
#about {
    background-color: #fff;
    padding-top: 2em;
}


/* services cards styling */

#service {
    text-align: right;
    padding-top: 10px;

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;

}

.centered {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;

}

/* position the front and back */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* horizontal flip on hover */
.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Position of the cards */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style the front side if image is missing */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #bbb;
    color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* flip card background */

.massage {
    background-color: #4f1f66;
}

.training {
    background-color: #32cd32;
}

.runcoach {
    background-color: #4f1f66;
}

/* contact form background image */

#contact {
    background-image: url(../Images/email-1435687_640.png);
    padding: 50px;

}

.flip-card {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/*footer styling */

footer {
    background-color: rgb(69, 67, 68);
    color: #fff;
    height: auto;
    margin: auto;
}

#footer-image {
    height: 120px;
    width: auto;
}

.fab {
    color: #ffffff;
    font-size: 40px;
    margin: 10px;
}